
<header class="header">
  <nav class="nav">
    <a href="" class="nav_logo">Librería Mariela</a>
    <button mat-fab extended (click)="goHome()">
          <mat-icon>home</mat-icon>
          Home
    </button>
  </nav>
</header>

<div class="background">
  <div class="form_container">
      <mat-card class="login-card">
        <mat-card-title>Iniciar sesión</mat-card-title>
        <mat-card-content>
          @if(isLogin()){
            <form [formGroup]="authForm" (ngSubmit)="onLogin()">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Email</mat-label>
                  <input id="email" type="email" matInput formControlName="email" placeholder="Correo electrónico">
                  <mat-icon matSuffix>email</mat-icon>
                  @if (emailAuth.hasError('email') && !emailAuth.hasError('required')) {
                    <mat-error>Ingresa un correo electrónico válido</mat-error>
                  }
                  @if (emailAuth!.hasError('required')  && emailAuth!.touched) {
                    <mat-error>El email es requerido</mat-error>
                  }
              </mat-form-field>

              <mat-form-field class="w100" appearance="fill">
                  <mat-label>Contraseña</mat-label>
                  <input id="password" matInput formControlName="password" [type]="passwordVisibility['login']() ? 'password' : 'text'" placeholder="Contraseña" autocomplete="off" />
                  <button class="btn-password" matSuffix mat-icon-button type="button" (click)="onChangePasswordIcon('login', $event)">
                    <mat-icon>{{passwordVisibility['login']() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  @if (passwordAuth!.hasError('required') && passwordAuth!.touched) {
                    <mat-error>La contraseña es requerida</mat-error>
                  }
              </mat-form-field>

              <div class="option_field link">
                <a href="#">¿Olvidaste tu contraseña?</a>
              </div>

              <button mat-flat-button class="btn-login" type="submit" [disabled]="authForm.invalid">
                Iniciar sesión
              </button>

              <div class="login_signup">
                ¿No tienes cuenta? <a (click)="signUp()" class="link">Registrate</a>
              </div>
            </form>
          } @else {
              <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Nombre</mat-label>
                    <input id="nombre" type="text" matInput formControlName="firstName" placeholder="Nombre">
                    <mat-icon matSuffix>person</mat-icon>
                    @if (firstName!.hasError('required')  && firstName!.touched) {
                      <mat-error>El nombre es requerido</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Apellido</mat-label>
                    <input id="apellido" type="text" matInput formControlName="lastName" placeholder="Apellido">
                    <mat-icon matSuffix>person</mat-icon>
                    @if (lastName!.hasError('required')  && lastName!.touched) {
                      <mat-error>El apellido es requerido</mat-error>
                    }
                </mat-form-field>

              <mat-form-field class="w100" appearance="fill">
                <mat-label>Email</mat-label>
                  <input id="email" type="email" matInput formControlName="email" placeholder="Correo electrónico">
                  <mat-icon matSuffix>email</mat-icon>
                  @if (email!.hasError('email') && !email!.hasError('required')) {
                    <mat-error>Ingresa un correo electrónico válido</mat-error>
                  }
                  @if (email!.hasError('required')  && email!.touched) {
                    <mat-error>El email es requerido</mat-error>
                  }
              </mat-form-field>

              <mat-form-field class="w100" appearance="fill">
                  <mat-label>Contraseña</mat-label>
                  <input id="password" matInput formControlName="password" [type]="passwordVisibility['registerPass']() ? 'password' : 'text'" placeholder="Contraseña" autocomplete="off" />
                  <button class="btn-password" mat-icon-button matSuffix type="button" (click)="onChangePasswordIcon('registerPass', $event)">
                    <mat-icon>{{passwordVisibility['registerPass']() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  @if (password!.hasError('required') && password!.touched) {
                    <mat-error>La contraseña es requerida</mat-error>
                  }
              </mat-form-field>

              <mat-form-field class="w100" appearance="fill">
                <mat-label>Confirme contraseña</mat-label>
                <input id="confirmPassword" matInput formControlName="confirmPassword" [type]="passwordVisibility['registerConfirmPass']() ? 'password' : 'text'" placeholder="Contraseña" autocomplete="off" />
                <button class="btn-password" mat-icon-button matSuffix type="button" (click)="onChangePasswordIcon('registerConfirmPass', $event)">
                  <mat-icon>{{passwordVisibility['registerConfirmPass']() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (confirmPassword!.hasError('required') && confirmPassword!.touched) {
                  <mat-error>La contraseña es requerida</mat-error>
                }
              </mat-form-field>

              <button mat-flat-button class="btn-login" type="submit" [disabled]="registerForm.invalid">
                Registrarse
              </button>

              <div class="login_signup">
                ¿Ya tienes una cuenta? <a (click)="signUp()" class="link">Inicia sesión</a>
              </div>
            </form>
          }
        </mat-card-content>
      </mat-card>
  </div>
</div>
