a {
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.nav_logo {
  color: #FFF;
}

.nav_logo {
  font-size: 25px;
}

.background {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
}

.background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: var(--tran-05);
}

/* FORM CONTAINER */
.form_container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 350px;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: #FFF;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out ;
}

.background .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
