.w100{
  width: 100%;
}

.form {
  padding: 16px;
}

.btn-dialog-save{
  background-color: var(--primary-color);
  color: #FFF;
}

.btn-dialog-cancel{
  color: var(--primary-color);
}

.btn-dialog-save:hover {
  background-color: #7181c3;
}

.btn-dialog-save:disabled {
  color: #dfdfdf;
  opacity: 0.8;
  background-color: #a3b1d8;
}

.message{
  padding: 10px;
  font-size: 14px;
  color: #242626;
  font-weight: 400;
}
