.dashboard {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
}

.dashboard.sidebar-closed {
  left: 78px;
  width: calc(100% - 78px);
}

.global-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 1100;
}


@media (max-width: 1000px) {
  .dashboard,
  .dashboard.sidebar-closed {
    left: 78px;
    width: calc(100% - 78px);
  }
}

@media (max-width: 500px) {
  .dashboard,
  .dashboard.sidebar-closed {
    left: 78px;
    width: calc(100% - 78px);
    padding: 10px 8px;
  }
}
