<!-- Sidebar -->
<app-sidebar [isOpen]="isOpen" [status]="status" [ngClass]="status"></app-sidebar>

<!-- Dashboard -->
<section class="dashboard" [ngClass]="{'sidebar-closed': !isOpen}">
  @if (loadingService.isLoading()) {
    <mat-progress-bar mode="indeterminate" class="global-progress-bar"></mat-progress-bar>
  }
  <!-- header -->
  <app-header (toggleSidebar)="toggle($event)"></app-header>
  <!-- content -->
  <div class="dash-content">
    <router-outlet></router-outlet>
  </div>
</section>
