<mat-card class="login-card">
  <mat-card-title>{{title}}</mat-card-title>
        <mat-card-content>
          @if(isTokenFlow){
            <form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordReset()">
              <mat-form-field class="w100" appearance="fill">
                  <mat-label>Nueva contraseña</mat-label>
                  <input id="passwordReset" matInput formControlName="passwordReset" [type]="passwordVisibility['passReset']() ? 'password' : 'text'" placeholder="Contraseña" autocomplete="off" />
                  <button class="btn-password" mat-icon-button matSuffix type="button" (click)="onChangePasswordIcon('passReset', $event)">
                    <mat-icon>{{passwordVisibility['passReset']() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  @if (passwordReset!.hasError('required') && passwordReset!.touched) {
                    <mat-error>La contraseña es requerida</mat-error>
                  }
              </mat-form-field>

              <mat-form-field class="w100" appearance="fill">
                <mat-label>Confirme contraseña</mat-label>
                <input id="confirmPasswordReset" matInput formControlName="confirmPasswordReset" [type]="passwordVisibility['confirPassReset']() ? 'password' : 'text'" placeholder="Contraseña" autocomplete="off" />
                <button class="btn-password" mat-icon-button matSuffix type="button" (click)="onChangePasswordIcon('confirPassReset', $event)">
                  <mat-icon>{{passwordVisibility['confirPassReset']() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (confirmPasswordReset!.hasError('required') && confirmPasswordReset!.touched) {
                  <mat-error>La contraseña es requerida</mat-error>
                }

                @if (confirmPasswordReset!.hasError('passwordsMismatch') && confirmPasswordReset!.touched) {
                  <mat-error>Las contraseñas no coinciden</mat-error>
                }
              </mat-form-field>
              <button mat-flat-button class="btn-login" type="submit" [disabled]="passwordResetForm.invalid">
                Guardar
              </button>

              <div class="login_signup">
                <a (click)="goLogin()" class="link">Volver</a>
              </div>
            </form>
          }@else {
            <form [formGroup]="sendPasswordResetForm" (ngSubmit)="onSendPasswordReset()">
              <mat-form-field class="w100" appearance="fill">
              <mat-label>Email</mat-label>
                <input id="email" type="email" matInput formControlName="email" placeholder="Correo electrónico">
                <mat-icon matSuffix>email</mat-icon>
                @if (email.hasError('email') && !email.hasError('required')) {
                  <mat-error>Ingresa un correo electrónico válido</mat-error>
                }
                @if (email!.hasError('required')  && email!.touched) {
                  <mat-error>El email es requerido</mat-error>
                }
            </mat-form-field>

              <button mat-flat-button class="btn-login" type="submit" [disabled]="sendPasswordResetForm.invalid">
                Enviar
              </button>

              <div class="login_signup">
                <a (click)="goLogin()" class="link">Volver</a>
              </div>
            </form>
          }
        </mat-card-content>
</mat-card>
