<h2 mat-dialog-title>Asigna el rol</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="roleForm">
        <mat-form-field class="w100" appearance="outline">
          <mat-label>Seleccione una opción</mat-label>
          <mat-select required formControlName="role">
              @for(role of roles; track $index){
                <mat-option [value]="role.id">{{role.text}}</mat-option>
              }
          </mat-select>
        </mat-form-field>
      </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="!roleForm.valid">Guardar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>
