.dashboard {
  position: relative;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
}

.dashboard.sidebar-closed {
  left: 78px;
  width: calc(100% - 78px);
}

.dashboard .dash-content{
  padding-top: 50px;
}

@media (max-width: 1000px) {
  .dashboard {
    left: 78px;
    width: calc(100% - 78px);
  }

  .dashboard.sidebar-closed {
    left: 250px;
    width: calc(100% - 250px);
  }

}

@media (max-width: 500px) {
  .dashboard,
  .dashboard.sidebar-closed {
    left: 78px;
    width: calc(100% - 78px);
  }

}
