<mat-card class="login-card">
  <mat-card-title>{{title}}</mat-card-title>
        <mat-card-content>
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Nombre</mat-label>
                <input id="nombre" type="text" matInput formControlName="firstName" placeholder="Nombre">
                <mat-icon matSuffix>person</mat-icon>
                @if (firstName!.hasError('required')  && firstName!.touched) {
                  <mat-error>El nombre es requerido</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
              <mat-label>Apellido</mat-label>
                <input id="apellido" type="text" matInput formControlName="lastName" placeholder="Apellido">
                <mat-icon matSuffix>person</mat-icon>
                @if (lastName!.hasError('required')  && lastName!.touched) {
                  <mat-error>El apellido es requerido</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
              <mat-label>Email</mat-label>
                <input id="email" type="email" matInput formControlName="email" placeholder="Correo electrónico">
                <mat-icon matSuffix>email</mat-icon>
                @if (email!.hasError('email') && !email!.hasError('required')) {
                  <mat-error>Ingresa un correo electrónico válido</mat-error>
                }
                @if (email!.hasError('required')  && email!.touched) {
                  <mat-error>El email es requerido</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input id="password" matInput formControlName="password" [type]="passwordVisibility['registerPass']() ? 'password' : 'text'" placeholder="Contraseña" autocomplete="off" />
                <button class="btn-password" mat-icon-button matSuffix type="button" (click)="onChangePasswordIcon('registerPass', $event)">
                  <mat-icon>{{passwordVisibility['registerPass']() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (password!.hasError('required') && password!.touched) {
                  <mat-error>La contraseña es requerida</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="w100" appearance="fill">
              <mat-label>Confirme contraseña</mat-label>
              <input id="confirmPassword" matInput formControlName="confirmPassword" [type]="passwordVisibility['registerConfirmPass']() ? 'password' : 'text'" placeholder="Contraseña" autocomplete="off" />
              <button class="btn-password" mat-icon-button matSuffix type="button" (click)="onChangePasswordIcon('registerConfirmPass', $event)">
                <mat-icon>{{passwordVisibility['registerConfirmPass']() ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              @if (confirmPassword!.hasError('required') && confirmPassword!.touched) {
                <mat-error>La contraseña es requerida</mat-error>
              }

              @if (confirmPassword!.hasError('passwordsMismatch') && confirmPassword!.touched) {
                  <mat-error>Las contraseñas no coinciden</mat-error>
              }
            </mat-form-field>



            <button mat-flat-button class="btn-login" type="submit" [disabled]="registerForm.invalid">
              Registrarse
            </button>

            <div class="login_signup">
              ¿Ya tienes una cuenta? <a (click)="goLogin()" class="link">Inicia sesión</a>
            </div>
          </form>
        </mat-card-content>
</mat-card>
