.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.boxes .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 12px;
}

.bg-primary {
  background-color: var(--box1-color);
}

.bg-secondary {
  background-color: var(--box2-color);
}

.bg-warn {
  background-color: var(--box3-color);
}

.boxes .box mat-icon {
  font-size: 25px;
  color: var(--text-color);
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px 20px;
}

.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  align-items: center;
}

.activity-data .data-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data .data .data-list {
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #FFF;
  border-radius: 8px;
  min-height: 100px; /* Asegura un espacio visible */
}

.no-data-message {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 1000px) {
  .activity-data {
    overflow-y: scroll;
  }
}

@media (max-width: 780px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 630px) {
  .boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
