.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.w100 {
  width: 100%;
  margin-bottom: 16px;
}

.card {
  background-color: #ffffff;
  padding: 16px;
  width: 100%;
  box-shadow: none;


}

.subtitle {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-style: italic;
  color: #666;
}

.error-message {
  color: #d32f2f;
  font-weight: 500;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  width: 180px;
  height: 50px;
  margin: 0;
}

.btn-action {
  color: #fff;
  background-color: #576cbc;
  margin: 0 5px;
}

.card .btn-save {
  color: #fff;
  background-color: #576cbc;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 16px;
}

.btn-save:disabled {
  color: #dfdfdf;
  opacity: 0.8;
  background-color: #a3b1d8;
}

.btn:hover:not(:disabled),
.btn-action:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s ease;
}

