<!-- Overview -->
<div class="overview">
  <app-title [title]="'Dashboard'" [icon]="'dashboard'"></app-title>

  <div class="boxes">
    <div class="box bg-primary">
      <mat-icon>sell</mat-icon>
      <span class="text">Productos totales</span>
      <span class="number">1240</span>
    </div>
    <div class="box bg-secondary">
      <mat-icon>local_shipping</mat-icon>
      <span class="text">Proveedores totales</span>
      <span class="number">8</span>
    </div>
    <div class="box bg-warn">
      <mat-icon>person</mat-icon>
      <span class="text">Clientes totales</span>
      <span class="number">54</span>
    </div>
  </div>
</div>

<!-- Activities -->
<div class="activity">
  <app-title [title]="'Actividades recientes'" [icon]="'schedule'"></app-title>
  <div class="activity-data">
    <div class="data names">
      <span class="data-title">Usuario</span>
      <span class="data-list">Camila Guajardo</span>
      <span class="data-list">Camila Guajardo</span>
      <span class="data-list">Camila Guajardo</span>
      <span class="data-list">Camila Guajardo</span>
      <span class="data-list">Camila Guajardo</span>
    </div>
    <div class="data description">
      <span class="data-title">Descripción</span>
      <span class="data-list">Ha añadido un nuevo producto.</span>
      <span class="data-list">Ha añadido un nuevo producto.</span>
      <span class="data-list">Ha añadido un nuevo producto.</span>
      <span class="data-list">Ha añadido un nuevo producto.</span>
      <span class="data-list">Ha añadido un nuevo producto.</span>
    </div>
    <div class="data date">
      <span class="data-title">Fecha</span>
      <span class="data-list">19/04/2023 - 19:43</span>
      <span class="data-list">19/04/2023 - 19:43</span>
      <span class="data-list">19/04/2023 - 19:43</span>
      <span class="data-list">19/04/2023 - 19:43</span>
      <span class="data-list">19/04/2023 - 19:43</span>
    </div>
    <div class="data type">
      <span class="data-title">Actividad</span>
      <span class="data-list">Nuevo</span>
      <span class="data-list">Nuevo</span>
      <span class="data-list">Nuevo</span>
      <span class="data-list">Nuevo</span>
      <span class="data-list">Nuevo</span>
    </div>
    <div class="data status">
      <span class="data-title">Estado</span>
      <span class="data-list">Añadido</span>
      <span class="data-list">Añadido</span>
      <span class="data-list">Añadido</span>
      <span class="data-list">Añadido</span>
      <span class="data-list">Añadido</span>
    </div>
  </div>
</div>
