@use '@angular/material' as mat;

/* === BASE STYLES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* === COLORS === */
  --primary-color: #576CBC;
  --navlink-color: #576CBC;
  --panel-color: #FFF;
  --text-color: #242626;
  --dark-light-color: #242626;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --toggle-position: 5px;
  --title-icon-color: #FFF;

  --box1-color: #C0DBEA;
  --box2-color: #C7E9B0;
  --box3-color: #FDF7C3;

  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

@include mat.button-overrides((
    filled-container-color: #576CBC,
));

@include mat.expansion-overrides((
    container-background-color: #FFF,
));

@include mat.form-field-overrides((
  container-text-size: 12px,
  filled-caret-color: #576CBC,
  filled-label-text-size: 13px,
  filled-focus-active-indicator-color: #576CBC,
  filled-focus-label-text-color: #576CBC,
  filled-input-text-color: #576CBC,
  filled-label-text-color: rgba(0, 0, 0, 0.6),
  filled-container-color: #FFF,
));

@include mat.table-overrides((
    background-color: #FFF,
));

@include mat.paginator-overrides((
    container-background-color: #FFF,
));

.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #229b26, // Verde para éxito
    supporting-text-color: white,
    button-color: white
  ));
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #ee1a0b, // Rojo para error
    supporting-text-color: white,
    button-color: white
  ));
}


body {
  min-height: 100vh;
  background-color: var(--panel-color);
}

/* === DARK MODE === */
body.dark {
  --primary-color: #1d1f1f;
  --navlink-color: #DDD;
  --panel-color: #242626;
  --text-color: #FFF;
  --dark-light-color: #FFF;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --toggle-position: 20px;
  --title-icon-color: #FFF;

  --box1-color: #2c2d2d;
  --box2-color: #2c2d2d;
  --box3-color: #2c2d2d;

  .background {
    background-color: #242626;
  }

  .form_container {
    background-color: #242626;
  }

  .login-card {
    background-color: #242626;
  }

  .link {
    color: #FFF;
  }

  .login_signup {
    color: #FFF;
  }

  .option_field a {
    color: #FFF;
  }

  .form_container .login-card mat-card-title {
    color: #FFF;
  }

  .card{
    background-color: #242626;
  }

  .subtitle {
  color: #dedede;
}

  @include mat.table-overrides((
    background-color: #242626,
    row-item-label-text-color: #FFF,
    row-item-outline-color: #FFF,
    header-headline-color: #FFF,
  ));

  @include mat.paginator-overrides((
    container-background-color: #242626,
    container-text-color: #FFF,
  ));

  @include mat.form-field-overrides((
    filled-container-color: #242626,
    filled-label-text-color: #FFF,
    filled-focus-active-indicator-color: #FFF,
  ));

  @include mat.expansion-overrides((
      container-background-color: #242626,
      header-text-color: #FFF,
      header-description-color: #FFF
  ));

}
