@use '@angular/material' as mat;

/* === BASE STYLES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* === COLORS === */
  --primary-color: #239BA7;
  --navlink-color: #239BA7;
  --btn-color: #239BA7;
  --panel-color: #FFF;
  --text-color: #242626;
  --dark-light-color: #242626;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --toggle-position: 5px;
  --title-icon-color: #FFF;

  --box1-color: #C0DBEA;
  --box2-color: #C7E9B0;
  --box3-color: #FDF7C3;

  --tran-05: all 0.5s ease;
  --tran-04: all 0.4s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

@include mat.progress-spinner-overrides((
    active-indicator-color:  var(--primary-color),
  ));

@include mat.button-overrides((
    filled-container-color: var(--primary-color),
));

@include mat.form-field-overrides((
  container-text-size: 12px,
  filled-caret-color:  var(--primary-color),
  filled-label-text-size: 13px,
  outlined-label-text-size: 13px,
  filled-focus-active-indicator-color: var(--primary-color),
  filled-focus-label-text-color: var(--primary-color),
  filled-input-text-color: var(--primary-color),
  filled-label-text-color: rgba(0, 0, 0, 0.6),
  filled-container-color: #FFF,
  outlined-caret-color: var(--primary-color),
  outlined-focus-outline-color: var(--primary-color),
  outlined-focus-label-text-color: var(--primary-color),
  select-option-text-color:red,
));

@include mat.table-overrides((
    background-color: #FFF,
));

@include mat.paginator-overrides((
    container-background-color: #FFF,
));

@include mat.chips-overrides((
    outline-color: var(--primary-color),
));

@include mat.card-overrides((
    elevated-container-color: #FFF,
));

@include mat.dialog-overrides((
    container-color: #FFF,
));


.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #229b26, // Verde para éxito
    supporting-text-color: white,
    button-color: white
  ));
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #ee1a0b, // Rojo para error
    supporting-text-color: white,
    button-color: white
  ));
}

body {
  min-height: 100vh;
  background-color: var(--panel-color);
}

/* === DARK MODE === */
body.dark {
  --primary-color: #1d1f1f;
  --navlink-color: #DDD;
  --panel-color: #242626;
  --text-color: #FFF;
  --dark-light-color: #FFF;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --toggle-position: 20px;
  --title-icon-color: #FFF;

  --box1-color: #2c2d2d;
  --box2-color: #2c2d2d;
  --box3-color: #2c2d2d;

  .background {
    background-color: #242626;
  }

  .form_container {
    background-color: #242626;
  }

  .login-card {
    background-color: #242626;
  }

  .link {
    color: #FFF;
  }

  .login_signup {
    color: #FFF;
  }

  .option_field a {
    color: #FFF;
  }

  .form_container .login-card mat-card-title {
    color: #FFF;
  }


  .subtitle {
    color: #dedede;
  }

  .title {
      color: #FFF;
  }

  .form {
      background-color: #2c2d2d;
  }

  .btn{
    color: #FFF;
  }

  .btn-save {
    color: #FFF;
    background-color: #242626;
  }

  .btn-save:disabled {
    color: #efefef;
    opacity: 0.8;
    background-color: #343434;
  }

  .btn-import{
    color: #FFF;
    background-color: #242626;
  }

  .text-file{
    color: #FFF;
  }

  .btn-password mat-icon{
    color: #838488;
  }

  .footer-home{
    color: #FFF;
    background-color: #242626;
  }
  .welcome-section{
    color: #FFF;
  }

  .features-section {
    color: #FFF;
  }

  .features-section h2 {
    color: #FFF;
  }

  .feature-card mat-icon {
    color: #FFF;
  }

  .btn-dialog-cancel{
    color: #FFF;
  }

  .btn-dialog-save{
    background-color: #242626;
    color: #FFF;
  }

  .btn-dialog-save:disabled {
    color: #dfdfdf;
    opacity: 0.8;
    background-color: #343434;
  }

  .message{
    color: #FFF;
  }

  @include mat.table-overrides((
    background-color: #242626,
    row-item-label-text-color: #FFF,
    row-item-outline-color: #FFF,
    header-headline-color: #FFF,
  ));

  @include mat.paginator-overrides((
    container-background-color: #242626,
    container-text-color: #FFF,
  ));

  @include mat.form-field-overrides((
    filled-caret-color: #FFF,
    filled-focus-active-indicator-color: #FFF,
    filled-focus-label-text-color: #FFF,
    filled-container-color: #343434,
    filled-label-text-color: #FFF,
    filled-hover-label-text-color: #dddddd,
    filled-input-text-color:  #FFF,
    filled-input-text-placeholder-color: #838488,
    outlined-caret-color: #FFF,
    outlined-focus-outline-color: #239BA7,
    outlined-focus-label-text-color: #239BA7,
    outlined-label-text-color: #FFF,
    outlined-hover-label-text-color: #FFF,
    outlined-input-text-color: #FFF,
    outlined-input-text-placeholder-color: #838488,
    outlined-outline-color: #FFF,
    outlined-hover-outline-color: #838488,
    trailing-icon-color:#838488,
  ));

  @include mat.select-overrides((
    panel-background-color: #343434,
    enabled-trigger-text-color: #FFF,
    focused-arrow-color: #FFF,
    placeholder-text-color: #FFF,
  ));

  @include mat.card-overrides((
    elevated-container-color: #2c2d2d,
  ));

  @include mat.dialog-overrides((
    container-color: #2c2d2d,
    subhead-color: #FFF
));

}
